

$primary	: linear-gradient(270deg, #FFB341 0%, #FF7A41 100%);
$text-dark	: #414141;
$dark	: #212121;
$light	: #EAEAEA;

img {
	width: 50%;
	margin: 8% 25%;
}

.button-right {
	margin-right: 0%;
}

.button-bottom {
	bottom: 0%;
}

ion-input {
	font-size: 16px;
}

ion-icon {
	margin-right: 10px;
	margin-bottom: 7px;
	font-size: 20px;
}