<ion-menu side="start" menuId="sideMenu">
	<ion-header>
		<ion-toolbar color="light">
			<ion-item lines="none">
				<ion-avatar slot="start" *ngIf="(usuario$ | async).data.foto">
					<img [src]="(usuario$ | async).data.foto" />
				</ion-avatar>
				<ion-label>{{ (usuario$ | async).data.nome }}</ion-label>
			</ion-item>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<ion-item button (click)="go('/home/main')">
				<ion-icon name="map" slot="start"></ion-icon>
				<ion-label>Mapa de Chamados</ion-label>
			</ion-item>
			<ion-item button (click)="go('/home/chamado')">
				<ion-icon name="chatboxes" slot="start"></ion-icon>
				<ion-label>Meus Chamados</ion-label>
			</ion-item>
			<ion-item button lines="none" (click)="logOff()">
				<ion-icon name="exit" slot="start"></ion-icon>
				<ion-label>Sair</ion-label>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>