<ion-header>
	<ion-toolbar color="light">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Detalhes</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="edit()" strong>
				<ion-icon slot="start" name="create"></ion-icon>
				Editar
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content *ngIf="chamado._id">
	<img *ngIf="chamado.foto" [src]="chamado.foto">
	<br />
	<br />
	<ion-title>{{ chamado.titulo }}</ion-title>
	<p class="descricao">
		{{ chamado.descricao }}
	</p>
	<br />
	<br />
	<ion-title>Atendente</ion-title>
	<p class="descricao">
		{{ chamado.responsavel.nome }}
	</p>
	<br />
	<p class="data" *ngIf="chamado.status">
		Estado do chamado: {{ chamado.status }}
		<br />
		Criado: {{ chamado.timestamp }}
		<br />
		Última atualização: {{ chamado.timeupdate }}
	</p>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="chat()"
		*ngIf="chamado.responsavel.cpf">
		<ion-fab-button>
			<ion-icon name="chatbubbles"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>