<ion-header>
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-back-button color="light"></ion-back-button>
		</ion-buttons>
		<ion-title>Detalhes</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="edit()" strong>
				<ion-icon slot="start" name="create"></ion-icon>
				Editar
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content *ngIf="chamado._id">
	<img *ngIf="chamado.foto" [src]="chamado.foto">
	<h4>{{ chamado.titulo }}</h4>
	<p class="descricao">
		{{ chamado.descricao }}
	</p>
	<div *ngIf="chamado.responsavel">
		<h4>Atendente</h4>
		<p class="descricao">
			{{ chamado.responsavel.nome }}
		</p>
	</div>
	<h4>Local</h4>
	<a class="descricao" href="https://www.google.com/maps/search/?api=1&query={{ chamado.localizacao.latitude }}, {{ chamado.localizacao.longitude }}">Abrir local no mapa</a>
	<p class="data" *ngIf="chamado.status">
		Estado do chamado: {{ chamado.status }}
		<br />
		Criado: {{ chamado.timestamp }}
		<br />
		Última atualização: {{ chamado.timeupdate }}
	</p>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="chat()"
		*ngIf="chamado.responsavel">
		<ion-fab-button>
			<ion-icon name="chatbubbles"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>