ion-text {
	margin: 10px;
	width: 100%;
	height: auto;
}

h4 {
	margin: auto 5%;
	margin-top: 20px;
}

.descricao {
	width: 95%;
	margin: 2% 5%;
	font-size: medium;
	color: #414141;
}

p.data {
	width: 90%;
	margin: 20px 5%;
	text-align: end;
	font-size: small;
	color: #414141;
}