<ion-header>
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Formulario</ion-title>
		<ion-buttons slot="end">
			<ion-button
				type="Submit" [disabled]="!chamadoForm.form.valid"
				(click)="submit()" strong *ngIf="!isEditing">
				<ion-icon slot="start" name="add"></ion-icon>
				Cadastrar
			</ion-button>
			<ion-button
				type="Submit" [disabled]="!chamadoForm.form.valid"
				(click)="submit()" strong *ngIf="isEditing">
				<ion-icon slot="start" name="create"></ion-icon>
				Editar
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content color="light">
	<ion-card color="light">
		<form action="submit()" #chamadoForm="ngForm">
			<ion-item color="light">
				<ion-label position="floating" color="dark">Título</ion-label>
				<ion-input name="titulo" type="text" [(ngModel)]="chamado.titulo"
				color="dark" minlength=10 maxlength=100 required></ion-input>
			</ion-item>
			<ion-item color="light">
				<ion-label position="floating" color="dark">Descrição</ion-label>
				<ion-textarea
					name="descricao" type="text" [(ngModel)]="chamado.descricao"
					color="dark" maxlength=2000 required auto-grow >
				</ion-textarea>
			</ion-item>
			<br />
			<ion-item color="light" lines="none" style="text-align:center">
				<ion-button
					(click)="takePicture()" size="large" shape="round"
					*ngIf="!chamado.foto" style="margin: 10px auto">
					<ion-icon slot="icon-only" size="large" name="camera"></ion-icon>
				</ion-button>
				<img *ngIf="chamado.foto" [src]="chamado.foto" style="margin: 0 auto">
			</ion-item>
			<ion-button expand="block" fill="clear" (click)="remove()"
				*ngIf="isEditing" color="danger" class="bottom">
				<ion-icon slot="start" name="trash"></ion-icon>
			 	<strong>REMOVER CHAMADO</strong>
			</ion-button>
		</form>
	</ion-card>

</ion-content>