<ion-header>
	<ion-toolbar color="light">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Cadastrar</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content color="light">
	<ion-card color="light">
		<ion-card-content>
			<form (ngSubmit)="signUp()" #signupForm="ngForm">
				<h4>informações Gerais</h4>
				<ion-label color="dark">Foto de Perfil</ion-label>
				<ion-item color="light" text-center>
					<ion-avatar slot="start" *ngIf="cliente.foto">
						<img [src]="cliente.foto" />
					</ion-avatar>
					<ion-button (click)="takePicture()">
						<ion-icon slot="start" name="camera"></ion-icon>
						Selecionar
					</ion-button>
				</ion-item>
				<ion-item color="light">
					<ion-label position="floating" color="dark">CPF</ion-label>
					<ion-input
						name="cpf"
						required
						type="number"
						[(ngModel)]="cliente.cpf"
						color="primary"
					></ion-input>
				</ion-item>
				<ion-item color="light">
					<ion-label position="floating" color="dark">Nome</ion-label>
					<ion-input
						name="nome"
						required
						type="text"
						[(ngModel)]="cliente.nome"
						color="primary"
					></ion-input>
				</ion-item>
				<ion-item color="light">
					<ion-label position="floating" color="dark">Senha</ion-label>
					<ion-input
						name="hash"
						required
						type="password"
						[(ngModel)]="cliente.hash"
						color="primary"
					></ion-input>
				</ion-item>
				<h4>Informações de Contato</h4>
				<ion-item color="light">
					<ion-label position="floating" color="dark">Telefone ou Celular</ion-label>
					<ion-input
						name="telefone_um"
						required
						type="tel"
						[(ngModel)]="cliente.contato.telefone_um"
						color="primary"
					></ion-input>
				</ion-item>
				<ion-item color="light">
					<ion-label position="floating" color="dark">Email</ion-label>
					<ion-input
						name="email_um"
						required
						type="email"
						[(ngModel)]="cliente.contato.email_um"
						color="primary"
					></ion-input>
				</ion-item>
				<h4>Informações de Endereço</h4>
				<ion-item color="light">
					<ion-label position="floating" color="dark">Estado</ion-label>
					<ion-input
						name="estado"
						required
						type="text"
						[(ngModel)]="cliente.endereco.estado"
						color="primary"
					></ion-input>
				</ion-item>
				<ion-item color="light">
					<ion-label position="floating" color="dark">Cidade</ion-label>
					<ion-input
						name="cidade"
						required
						type="text"
						[(ngModel)]="cliente.endereco.cidade"
						color="primary"
					></ion-input>
				</ion-item>
				<ion-item color="light">
					<ion-label position="floating" color="dark">CEP</ion-label>
					<ion-input
						name="cep"
						required
						type="number"
						[(ngModel)]="cliente.endereco.cep"
						color="primary"
					></ion-input>
				</ion-item>
				<ion-item color="light">
					<ion-label position="floating" color="dark">Bairro</ion-label>
					<ion-input
						name="bairro"
						required
						type="text"
						[(ngModel)]="cliente.endereco.bairro"
						color="primary"
					></ion-input>
				</ion-item>
				<ion-item color="light">
					<ion-label position="floating" color="dark">Rua</ion-label>
					<ion-input
						name="rua"
						required
						type="text"
						[(ngModel)]="cliente.endereco.rua"
						color="primary"
					></ion-input>
				</ion-item>
				<ion-item color="light">
					<ion-label position="floating" color="dark">Número</ion-label>
					<ion-input
						name="numero"
						required
						type="number"
						[(ngModel)]="cliente.endereco.numero"
						color="primary"
					></ion-input>
				</ion-item>
				<br />
				<ion-button
					expand="block"
					fill="solid"
					type="Submit"
					[disabled]="!signupForm.form.valid"
					color="primary"
				>Realizar Cadastro</ion-button>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>
