<ion-header>
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-menu-button menu="sideMenu"></ion-menu-button>
		</ion-buttons>
		<ion-title>Meus Chamados</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list lines>
		<ion-item *ngFor="let item of (chamados$|async).data"
			text-wrap (click)="detalhes(item)">
			<ion-avatar slot="start" *ngIf="item.foto">
				<img [src]="item.foto" />
			</ion-avatar>
			<ion-row style="width: 100%">
				<ion-col size-lg="9" style="align-self: flex-start">
					<span>{{ item.titulo }}</span>
				</ion-col>
				<ion-col size-lg="3" style="align-self: flex-end">
					<span class="status">{{ item.status }}</span>
				</ion-col>
			</ion-row>
		</ion-item>
	</ion-list>
</ion-content>