<ion-header>
	<ion-toolbar color="secondary">
		<ion-buttons slot="start">
			<ion-menu-button menu="sideMenu"></ion-menu-button>
		</ion-buttons>
		<ion-title>Meus Chamados</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list lines>
		<ion-item *ngFor="let item of (chamados$|async).data"
			text-wrap (click)="detalhes(item)">
			<ion-avatar slot="start" *ngIf="item.foto">
				<img [src]="item.foto" />
			</ion-avatar>
			<ion-label>{{ item.titulo }}</ion-label>
		</ion-item>
	</ion-list>
</ion-content>